html, body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'Roboto', Arial, sans-serif;
  line-height: 30px;
  color: #424242;
}
header {
  position: relative;
  font-size: 42px;
  height: 200px;
  background-color: pink;
}
h1 {
  display: inline-block;
  position: absolute;
  bottom: 30px;
  left: 50px;
  margin: 0;
  padding: 0;
  font-size: 48px;
}
ul {
  list-style: none;
  width: 60%;
  height: auto;
  margin: 50px;
  padding: 1px 30px 40px 30px;
  border-left: solid pink 7px;
  background-color: white;
}
li {
  margin-top: 40px;
}
a {
  text-decoration: none;
  font-size: 24px;
  color: #FF80AB;
}
a:hover {
  color: #F06292;

}
.link--sm {
  font-size: 18px;
}
