.project {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 0;
  height: 100vh;
  min-height: 750px;
  padding-left: 5%;
  padding-right: 5%; }

@media (min-width: 1799px) {
  .project {
    padding-left: 13%;
    padding-right: 13%; } }

@media (max-width: 1000px) {
  .project {
    min-height: 900px;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center; } }

.project__info {
  -ms-flex-preferred-size: 27%;
  flex-basis: 27%;
  font-size: 1.6rem;
  line-height: 1.8rem; }

.project__info--tiny {
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
  margin-top: 5vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  justify-content: space-between; }

@media (max-width: 1000px) {
  .project__info {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin: 0 10%;
    text-align: center;
    -ms-flex-order: 2;
    order: 2; }
  .project__info--tiny {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-order: 0;
    order: 0; } }

.project__pic {
  display: inline-block;
  -ms-flex-preferred-size: 67%;
  flex-basis: 67%;
  vertical-align: top; }

@media (max-width: 1000px) {
  .project__pic {
    -ms-flex-order: 0;
    order: 0; } }

.project__title {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.5; }

.project__title--main {
  font-size: 4rem;
  position: absolute;
  top: 2vh;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

@media (max-width: 1000px) {
  .project__title--main {
    position: static;
    -ms-transform: none;
    transform: none; } }

.project__text-title {
  font-size: 2.1rem;
  font-weight: 400; }

@media (max-width: 1000px) {
  .project__text-title--tiny {
    display: none; } }

.project__text {
  font-size: 1.6rem; }

@media (max-width: 1000px) {
  .project__text--short {
    display: block;
    font-size: 1.6rem; } }

@media (max-width: 1000px) {
  .project__text--tiny {
    display: none; } }

.project__tools {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 5vh 0 7vh 0;
  -ms-flex-align: end;
  align-items: flex-end; }

@media (max-width: 1000px) {
  .project__tools {
    display: none; } }

.project__tools--tiny {
  width: 63%; }

.project__tool-icon--html5 {
  height: 70px; }

.project__tool-icon--css3 {
  height: 70px; }

.project__tool-icon--bem {
  height: 50px; }

.project__tool-icon--gulp {
  height: 70px; }

.project__tool-icon--sass {
  height: 65px; }

.project__tool-icon--js {
  height: 58px; }

.project__tool-icon--webpack {
  height: 63px; }

.project__tool-icon--babel {
  height: 50px; }

.project__btn {
  display: block;
  width: 50%;
  padding: 10px 0;
  font-family: "Rajdhani", sans-serif;
  background-color: transparent;
  border: solid 2px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-size: 1.6rem;
  outline: none;
  transition: background-color 0.3s, color 0.3s; }

.project__btn:hover {
  background-color: #B71C1C;
  color: white; }

@media (max-width: 1000px) {
  .project__btn {
    margin: 0 auto; } }

.project__btn--tiny {
  width: 48%; }

.project:nth-child(2n+1) {
  background-color: #ececec;
  border: solid #ececec 1px; }

.project__btns {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.portfolio {
  overflow: hidden; }

/*# sourceMappingURL=../maps/blocks/project.css.map */
