@import "../helpers/variables";

.main-nav {
    display: inline-block;
    font-size: 0;
    float: right;
    font-size: $font-size;
    vertical-align: top;
    width: 20%;
    &__list {
      margin-top: 3vh;
    }
    &__item {
        display: inline-block;
        text-align: center;
        width: 47%;
        height: 100%;
        text-align: right;
        vertical-align: middle;
    }
    &__link {
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        font-size: $font-size--sm;
        transition: color 0.2s;
        &--iconed {
          height: 50px;
          width: auto;
          transition: fill 0.2s;
          &:hover {
            fill: $hover-color;
          }
        }
        &:hover {
          color: $hover-color;
        }
    }
}
