@import "../helpers/variables";
@import "../helpers/mixins";
.project {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0;
    height: 100vh;
    min-height: 750px;
    // background-color: $gray;
    // background-color: lighten(#FFEBEE, 3.5%);
    // border: solid $gray 1px;
    @include container;
    @media (max-width: 1000px) {
        min-height: 900px;
        justify-content: center;
        align-content: center;
    }
    &--tiny {
    }
    &__info {
        flex-basis: 27%;
        font-size: $font-size;
        line-height: 1.8rem;
        &--tiny {
            flex-basis: 40%;
            margin-top: 5vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        @media (max-width: 1000px) {
            flex-basis: 100%;
            margin: 0 10%;
            text-align: center;
            order: 2;
            &--tiny {
                flex-basis: 100%;
                order: 0;
            }
        }
    }
    &__pic {
        display: inline-block;
        flex-basis: 67%;
        vertical-align: top;
        @media (max-width: 1000px) {
            order: 0;
        }
    }
    &__title {
        font-size: $font-size--lg;
        font-weight: 500;
        line-height: 1.5;
        &--main {
            font-size: 4rem;
            position: absolute;
            top: 2vh;
            left: 50%;
            transform: translateX(-50%);
            @media (max-width: 1000px) {
                position: static;
                transform: none;
            }
        }
    }
    &__text-title {
        font-size: $font-size--bg;
        font-weight: 400;
        @media (max-width: 1000px) {
            &--tiny {
                display: none;
            }
        }
    }
    &__text {
        font-size: $font-size--md;
        @media (max-width: 1000px) {
            &--short {
                display: block;
                font-size: $font-size--md;
            }
        }
        &--tiny {
            @media (max-width: 1000px) {
                display: none;
            }
        }
    }
    &__tools {
      display: flex;
      flex-direction: row;
      margin: 5vh 0 7vh 0;
      align-items: flex-end;
      @media (max-width: 1000px) {
        display: none;
      }
      &--tiny {
        width: 63%;
      }
    }
    &__tool-icon {
      &--html5 {
        height: 70px;
      }
      &--css3 {
        height: 70px;
      }
      &--bem {
        height: 50px;
      }
      &--gulp {
        height: 70px;
      }
      &--sass {
        height: 65px;
      }
      &--js {
        height: 58px;
      }
      &--webpack {
        height: 63px;
      }
      &--babel {
        height: 50px;
      }
    }
    &__btn {
        display: block;
        width: 50%;
        padding: 10px 0;
        font-family: $font-family-base;
        background-color: transparent;
        border: solid 2px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 500;
        font-size: $font-size--md;
        outline: none;
        transition: background-color 0.3s, color 0.3s;
        &:hover {
            background-color: $hover-color;
            color: white;
        }
        @media (max-width: 1000px) {
            margin: 0 auto;
        }
        &--tiny {
          width: 48%;
        }
    }
    &:nth-child(2n+1) {
        background-color: $light-gray;
        border: solid $light-gray 1px;
    }
    &__btns {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
}
.portfolio {
    overflow: hidden;
}
