html, body {
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    font-family: 'Roboto', Arial, sans-serif;
}
.overflow {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: relative;
  z-index: 100;
  border-radius: 100%;
  pointer-events: none;
}
.wrapper {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 70px auto;
}
.outer-round {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 480px;
    height: 480px;
    margin: 0;
    padding: 0;
    list-style: none;
    border-radius: 100%;
    overflow: hidden;
    border: solid 10px #fff;
    pointer-events: none;
}
.outer-round__item {
    position: absolute;
    top: -5px;
    left: -5px;
    width: 235px;
    height: 235px;
    border: solid 5px #fff;
    transform-origin: 100% 100%;
    overflow: hidden;
}
.outer-round__item--green {
    background-color: #b2ff59;
}
.outer-round__item--red {
    transform: rotate(90deg);
    background-color: #f44336;
}
.outer-round__item--yellow {
    transform: rotate(180deg);
    background-color: #ffeb3b;
}
.outer-round__item--blue {
    transform: rotate(-90deg);
    background-color: #00b0ff;
}
.outer-round__item--green-active,
.outer-round__item--green:active {
    background: linear-gradient(135deg, #9CCC65 10%, #7CB342, #558B2F, #33691E 80%);
    background-color: red;
}
.outer-round__item--red-active,
.outer-round__item--red:active {
    background: linear-gradient(135deg, #FFCDD2, #EF9A9A, #C62828, #B71C1C 80%);
}
.outer-round__item--yellow-active,
.outer-round__item--yellow:active {
    background: linear-gradient(135deg, #FFE57F 10%, #FFD740, #FFC400, #FFAB00 80%);
}
.outer-round__item--blue-active,
.outer-round__item--blue:active {
    background: linear-gradient(135deg, #B3E5FC 10%, #039BE5, #0277BD, #01579B 80%);
}
.inner-round {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 200px;
    height: 200px;
    border: solid 10px #fff;
    border-radius: 100%;
    background-color: #fff;
}
.inner-round__header {
    text-align: center;
    color: #f8bbd0
}
.inner-round__counter {
    width: 60px;
    height: 40px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 39px;
    text-align: center;
    border: solid 1px transparent;
    color: #424242;
    background-color: #f5f5f5;
    border-radius: 25%;
}
.inner-round__btn {
    display: block;
    width: 100px;
    height: 30px;
    margin: 20px auto;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    border: none;
    color: #424242;
    background-color: #fce4ec;
    border-radius: 10%;
    outline: none;
    /*pointer-events: auto;*/
}
.inner-round__btn:active {
    background-color: #F8BBD0;
}
