$main-color: #cb699d;
$sub-color: #00adee;
$white: #fff;
$black: #00000b;

$mobile-width: 320px;
$tablet-width: 783px;
$desktop-width: 1200px;
$html-font-size: 10px;
$font-size: 1.4rem;
$font-size--sm: 1.3rem;
$font-size--md: 1.6rem;
$font-size--bg: 1.8rem;

$line-height: 1.2;

$font-family-main: Nunito, Arial, sans-serif;
