.btn {
  padding: 14px 53px 13px 54px;
  font-size: $font-size--bg;
  font-weight: 500;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.3);
  border: solid $white 2px;
  color: $white;
  outline: none;
  cursor: pointer;
}
